Program to demonstrate the following

a) Operation of data types in Python

In [2]:
int_var = 4
float_var = 2.16
string_var = 'Hello'
list_var = [2, 4, 6]
tuple_var = (1, 3, 5)
dictionary_var = {1 : 'One', 2 : 'Two'}

print('Integer = ', int_var)
print('Float = ', float_var)
print('String = ', string_var)
print('List = ', list_var)
print('Tuple = ', tuple_var)
print('Dictionary = ', dictionary_var)

Integer =  4
Float =  2.16
String =  Hello
List =  [2, 4, 6]
Tuple =  (1, 3, 5)
Dictionary =  {1: 'One', 2: 'Two'}

b) Different Arithmetic Operations on numbers in Python.

In [6]:
a, b = 10, 5
print('a = ', a, '; b = ', b)
print('Addition = ', a + b)
print('Subtraction = ', a - b)
print('Multiplication = ', a * b)
print('Division = ', a / b)
print('Floor Division = ', a // b)
print('Exponent = ', a ** b)
print('Modulus = ', a % b)

a =  10 ; b =  5
Addition =  15
Subtraction =  5
Multiplication =  50
Division =  2.0
Floor Division =  2
Exponent =  100000
Modulus =  0

c) Create, concatenate and print a string and access substring from a given string.

In [8]:
AString = 'Hello'
print('AString = ', AString)
print('AString + \' World\' = ', AString + ' World')
print('AString[:3] = ', AString[:3])

AString =  Hello
AString + ' World' =  Hello World
AString[:3] =  Hel

d) Append, and remove lists in python

In [9]:
AList = [2, 4, 6, 8]
print('AList = ', AList)
AList.append(5)
print('AList.append(5) = ', AList)
AList.remove(4)
print('AList.remove(4) = ', AList)

AList =  [2, 4, 6, 8]
AList.append(5) =  [2, 4, 6, 8, 5]
AList.remove(4) =  [2, 6, 8, 5]

e) Demonstrate working with tuples in python

In [10]:
ATuple = (1, 3,  5, 7)
print('ATuple = ', ATuple)
print('ATuple[1] = ', ATuple[1])
print('ATuple[-1] = ', ATuple[-1])

ATuple =  (1, 3, 5, 7)
ATuple[1] =  3
ATuple[-1] =  7

f) Demonstrate working with dictionaries in python.

In [11]:
ADictionary = {1 : 'One', 2 : 'Two', 3 : 'Three'}
print('ADictionary = ', ADictionary)
print('ADictionary[2] = ', ADictionary[2])
ADictionary.update({5 : 'Five'})
print(ADictionary)

ADictionary =  {1: 'One', 2: 'Two', 3: 'Three'}
ADictionary[2] =  Two
{1: 'One', 2: 'Two', 3: 'Three', 5: 'Five'}