1. For a given set of training data examples stored in a .CSV file, demonstrate Data Preprocessing in Machine learning.

In [1]:
import numpy as np
import pandas as pd

Importing the dataset

In [2]:
dataset = pd.read_csv('Dataset.csv')
dataset

   Age  Gender   Income  Label
0   25    Male  25000.0      0
1   33  Female  40000.0      1
2   42    Male  75000.0      1
3   31  Female      NaN      1
4   28    Male  33000.0      0

Data Preprocessing

Filling out NULL values

In [3]:
#fillna() = to fill the data; dropna() = to delete the rows
dataset.dropna()

   Age  Gender   Income  Label
0   25    Male  25000.0      0
1   33  Female  40000.0      1
2   42    Male  75000.0      1
4   28    Male  33000.0      0

In [4]:
from sklearn.preprocessing import LabelEncoder

Encoding Gender (Converting to 0 or 1)

In [5]:
encoder = LabelEncoder()
dataset['Gender'] = encoder.fit_transform(dataset['Gender'])

In [6]:
X = dataset[['Age','Gender','Income']]
y = dataset['Label']

Standardizing the dataset

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [9]:
X_train

array([[-0.54494926,  0.57735027, -0.51681522],
       [ 1.63484778,  0.57735027,  1.39844117],
       [-1.01204863,  0.57735027, -0.88162596],
       [-0.07784989, -1.73205081,         nan]])

In [10]:
X_test

array([[0., 0., 0.]])